body {
    background-color: rgb(212, 212, 212);
}

button {
    background-color: black;
    color:white; 
}

.imagenes {
    display: flex;
    width: 550px;
    height: 130px;
}

.imagenes img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.imagenes img:hover {
    cursor: pointer;
    width: 300;
    opacity: 1;
    filter: contrast(110%);
    transform: scale(1.2);
}

#comprar {
    background-color: white;
    color:black;
    border-radius: 15px;
}

#carrito {
    border: 2px solid black;
    border-radius: 20px;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

#contenedorProductos {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items: start;
    justify-content: space-around;
}

.titulo-producto {
    font-size: 1.5rem;
}

.categoria-producto {
    font-size: 1.2rem;
}

.categoria-precio {
    font-size: 1.4rem;
}

.boton-agregar {
    background-color: black;
    color:white;
    border-radius: 20px;
}

.tarjetaProducto {
    background-color: white;
    border: 1.5px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-right: 15px;
    margin-bottom: 20px;
    padding: 10px;
}

.ocultar {
    display: none;
}

.mostrar {
    display: flex;
}